thesis-env.yml
results
/.idea
.idea

/models/
/adapters/

/src/sandbox/

/src/Agent/

/src/data_handling/generic_domains.py
/src/data_handling/domain_object_extractor.py
/src/data_handling/metrics.py
/src/data_handling/trainingsverlauf.pdf

/src/util/evaluation_datatypes.py
/src/util/json_parser.py

/src/training/auto_evaluator.py
/src/training/evaluator.py

/res/base_data/
/res/chunked_data/
/res/eval_data/
/res/old_training_logs/
/res/training_logs/
